  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Buttons */
.red-btn{
    margin-right: 20px;
    padding: 10px 20px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;    
}
.dark-btn{
    margin-right: 20px;
    padding: 10px 20px;
    background-color: var(--dark-green);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;    
}
.light-btn{
    margin-right: 20px;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    cursor: pointer;    
}
/* HEADER */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(26,46,53);
    background: linear-gradient(90deg, rgba(26,46,53,1) 0%, rgba(28,187,180,1) 100%);
}
header .header-start{
    width: 55%;
}
.header-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header-nav .brand{
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-nav .brand img{
    width: 35px;
}
.header-nav .brand span{
    padding: 10px;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
}
.header-nav ul li{
    list-style: none;
    margin: 20px;
}
.header-nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
}
header .header-end{
    width: 55%;
    position: relative;
}
.header-end a{
    padding: 10px 25px;
    background-color: var(--dark-green);
    position: absolute;
    right: 100px;
    top:10px;
    color: var(--white);
    border-radius: 35px;
    text-decoration: none;
}